<!-- start custom head snippets -->
<!-- Configure, then load MathJax -->
<script type="text/javascript">
  window.MathJax = {
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  };
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML-full,Safe" type="text/javascript"></script>

<!-- To auto-embed hub URLs if given in a RESTful fashion -->
<script type="text/javascript">
function getQueryVariable(variable)
{
       var query = window.location.search.substring(1);
       var vars = query.split("&");
       for (var i=0;i<vars.length;i++) {
               var pair = vars[i].split("=");
               if(pair[0] == variable){return pair[1];}
       }
       return(false);
}
window.onload = function() {
    window.hubUrl = getQueryVariable("hubUrl");
    if (window.hubUrl !== false) {
        if (window.hubUrl.indexOf('http') < 0) {
            window.hubUrl = 'http://' + window.hubUrl;
        }
        link = $("a.interact-button")[0];
        if (link !== undefined) {
            var href = link.getAttribute('href');
            href = href.replace("{{ site.hub_url }}", window.hubUrl);
            link.setAttribute('href', href);
        }
    }
}
</script>
<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
