/* Put your custom CSS in here! */

li a.level_2 {
  padding-left: 1em;
}

div.sidebar {
  width: 25%;
}

section.textbook {
  font-size: .8em;
  @media (min-width: 80em) {
    max-width: 740px;
    margin-left: 5%;
  }
}
