---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


// General
div#main {
  padding-bottom: 2%;
}

div.MathJax_Display {
  font-size: .7em;
}

// Sidebar
div.sidebar {
  @media (min-width: 64em) {
    width: 25%;
    overflow-y: auto;
    height: calc( 100vh - 2em ) !important;
  }

  @media (max-width: 64em) {
    width: 95%;
  }
}

.sidebar a:hover {
  text-decoration: underline;
}

.sidebar a.current {
  color: #008cff;
}

li a.level_2 {
  padding-left: 1em;
}


// Textbook

div#main.textbook {
  width: 100%;
  margin: 0;
  padding: 0;
  max-width: none;
}

.page {
  @media (min-width: 80em) {
    width: calc(100% - 200px);
    padding-right: 200px;
  }
}

.sidebar + .page {
  @media (min-width: 64em) {
    width: 75%;
  }
}

div#textbook_wrapper {

  @media (max-width: 64em) {
    margin-left: 2%;
    margin-right: 2%;
    width: auto;
    padding-top: 10px;
    }

  @media (min-width: 64em) {
    margin-left: 5%;
    margin-right: 0;
    width: 95%;
  }
}

article {
  padding-left: 2em;
}

div.sidebar.textbook, article.textbook {
  @media (min-width: 64em) {
    padding-top: 50px;
  }
}

article.textbook div.page__inner-wrap {
  @media (max-width: 64em) {
    padding-bottom: 20px;
  }
}

article.textbook {
  font-size: .8em;
  @media (min-width: 64em) {
    padding-right: 15%;
    width: 75%;
    float: left;
    overflow-y: auto;
    height: calc( 100vh - 2em ) !important;
    max-width:900px;
  }

  @media (min-width: 80em) {
    max-width: 1100px;
  }
}

// Copy buttons
button.copybtn {
  webkit-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
  opacity: 0;
  padding: 2px 6px;
  position: absolute;
  right: 4px;
  top: 4px;
}

div.input_area:hover .copybtn, div.highlighter-rouge:hover .copybtn {
    opacity: .3;
}

div.input_area .copybtn:hover, div.highlighter-rouge .copybtn:hover {
    opacity: 1;
}

.logo img {
    width: 200px !important;
}

// masthead
img.masthead_logo {
    height: 3em;
    padding-right: 1em;
}

// Textbook logo
img.textbook_logo {
    width: 6em;
    margin-left: 1em;
    margin-bottom: 1em;
}
