---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


// General
div#main {
  padding-bottom: 2%;
}

div.MathJax_Display {
  font-size: .7em;
}

.page {
    @media (min-width: 80em) {
        padding-right: 100px;
        width: 75%;
    }

    @media (min-width: 64em) {
        padding-right: 50px;
        width: 75%;
    }

    padding-left: 1em;
}


// Sidebar
div.sidebar {
  width: 25%;
  @media (min-width: 64em) {
    overflow-y: auto;
    height: calc( 100vh - 2em ) !important;
  }
}

.sidebar a:hover {
  text-decoration: underline;
}

.sidebar a.current {
  color: #008cff;
}

li a.level_2 {
  padding-left: 1em;
}


// Textbook
section.textbook article {
  @media (min-width: 64em) {
    height: calc( 100vh - 2em ) !important;
    overflow-y: auto;
  }
}

article.textbook section {
  font-size: .8em;
  @media (min-width: 64em) {
    max-width: 650px;
    margin-left: 5%;
  }
}

article.textbook nav.pagination {
  @media (min-width: 64em) {
    max-width: 650px;
  }
}

// Copy buttons
button.copybtn {
  webkit-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
  opacity: 0;
  padding: 2px 6px;
  position: absolute;
  right: 4px;
  top: 4px;
}

div.input_area:hover .copybtn, div.highlighter-rouge:hover .copybtn {
    opacity: .3;
}

div.input_area .copybtn:hover, div.highlighter-rouge .copybtn:hover {
    opacity: 1;
}

.logo img {
    width: 200px !important;
}

// masthead
img.masthead_logo {
    height: 3em;
    padding-right: 1em;
}

// Textbook logo
img.textbook_logo {
    width: 6em;
    margin-left: 1em;
    margin-bottom: 1em;
}
