/* Interact button */

article.page .interact-button,article.page .previous_page,article.page .next_page
{
  background-color:#477DCA;
  border-radius:3px;
  color:#FFF;
  display:inline-block;
  font-size:1.2em;
  font-weight:700;
  padding:.4em 1em;
  margin-bottom: .5em;
}

article.page .interact-button:hover,article.page .interact-button:focus,article.page .previous_page:hover,article.page .next_page:hover
{
  text-decoration:none;
}

article.page .next_page {
  float: right;
}

/* Code cells */

div.highlighter-rouge {
  background: #f7f7f7;
  border: 1px solid #CCC;
}

.output_stream, .output_data_text, .output_traceback_line {
  margin-left: 2% !important;
  border: none !important;
  border-radius: 4px !important;
  background-color: #fafafa !important;
  box-shadow: none !important;
}

.output_stream:before, .output_data_text:before, .output_traceback_line:before{
  content: none !important;
}

.output_text pre {
  background-color: #F8F8FB !important;
}

.output_html,.output_png::before
{
  padding:1em 1.5em !important;
}

div.highlight code {
  color: #000000 !important;
}

/* Code coloring */

.ansicyan,pre .kn
{
  color:#0080FF !important;
}

.ansigreen,pre .n,pre .nb
{
  color:#690 !important;
}

.ansired
{
  color:red !important;
}

pre .nn
{
  color:#FFC0CB !important;
}

.output_png img,p img
{
  width:100% !important;
  max-width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

pre .o,pre .k
{
  color:purple !important;
}

pre .p,pre .c
{
  color:#999 !important;
}

/* Black font text */
pre .c1,pre .s1, pre .s,pre .s2,pre .mi, pre .mf, pre .p, pre .c, pre .m
{
  color: rgb(51, 51, 51) !important;
}

.hl-ipython3 pre::before,.output_subarea pre::before,.output_html::before,.output_png::before
{
  color:#ccc !important;
  float:left !important;
  margin-bottom:.25em !important;
  width:100% !important;
}

blockquote
{
  background-color:rgba(245,245,245,0.8) !important;
  border-left:5px solid #eee !important;
}

blockquote p
{
  margin-top:0 !important;
}
