/*
 * This file adds custom CSS to improve the footer layout. It is not required
 * for use of landing-pages
 */
html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}

.article.content {
  /* Override 100vh from myst-theme:styles/typography.css so content div
    * doesn't push the footer offscreen.
    */
  min-height: 0vh;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}

.footer {
  /* Make footer "sticky" to page bottom (also the above flex rules), per
    * the flexbox strategy described here:
    * 	https://css-tricks.com/couple-takes-sticky-footer/#aa-there-is-flexbox
    * and here:
    *    https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
    * This solution does not require hardcoding a fixed footer height in the
    * style rules.
    */
  flex-shrink: 0;
  background: #e0e0e0;
  padding-left: 2rem;
  padding-right: 2rem;

  padding-left: 3.5rem;
  padding-right: 3.5rem;

  /* Outer content grid */
  & .outer-grid {
    /* spacer, project description, spacer, link columns, spacer */
    grid-template-columns: 3fr 2fr 4fr;
    align-items: center;
    margin-bottom: 0rem;

    & .links ul {
      padding-inline-start: 0;
      list-style-type: none;
      & > li {
        padding-inline-start: 0;
      }
    }
  }

  @media (max-width: 640px) {
    & .outer-grid {
      grid-template-columns: 1fr;
      justify-items: start;
    }
  }

  & h1 {
    font-size: 1.25rem;
    font-weight: bold;
  }
}

/* set a max height to a figure inside card for the gallery*/
div.myst-card-body > figure.card-img-limit > img {
  width: 70%;
  max-height: 200px;   /* adjust as needed */
  height: auto;
  object-fit: contain;
}