---
---

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/notebook-markdown.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/custom.css">
    <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/favicon.png">
  </head>

  <body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}">

    {% include browser-upgrade.html %}
    {% if site.masthead == true and page.masthead != false %}
    {% include masthead.html %}
    {% endif %}

    <div class="initial-content">
      {{ content }}
    </div>

    {% if site.search == true %}
      <div class="search-content">
        {% include search/search_form.html %}
      </div>
    {% endif %}

    {% if site.footer == true and page.footer != false %}
    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>
    {% endif %}

    {% include scripts.html %}

  </body>
</html>
