#######################################################################################
# Book settings
title: ""
logo: images/logo-wide.svg
author: The Jupyter Book Community
email: choldgraf@berkeley.edu
description: >- # this means to ignore newlines until "baseurl:"
  This is an example book built with Jupyter Books.

exclude_patterns: [file-types/include-rst.rst]

# Bibliography settings
bibtex_bibfiles:
  - references.bib

execute:
  execute_notebooks: cache
  stderr_output: "remove"
  allow_errors: true
  timeout: 120

html:
  # FIXME: surely we could allow internal or relative links somehow?
  # (The documentation says only that HTML is allowed, nothing about the base URL is mentioned.)
  # Then we could link to the changelog in the *same* build of the docs.
  announcement: '⚠️The <a href="https://jupyterbook.org/en/stable/reference/_changelog.html#v0-13-0-2022-06-02">0.13 release</a> refactored our HTML, so double-check your custom CSS rules!⚠️'
  favicon: images/favicon.ico
  google_analytics_id: UA-52617120-7
  home_page_in_navbar: false
  use_edit_page_button: true
  use_repository_button: true
  use_issues_button: true
  baseurl: https://jupyterbook.org/
  analytics:
    google_analytics_id = ''

repository:
  url: https://github.com/executablebooks/jupyter-book
  branch: master
  path_to_book: docs

launch_buttons:
  notebook_interface: "classic" # The interface interactive links will activate ["classic", "jupyterlab"]
  binderhub_url: "https://mybinder.org"
  colab_url: "https://colab.research.google.com"
  thebe: true

parse:
  myst_substitutions:
      sub3: My _global_ value!
  myst_enable_extensions:  # default extensions to enable in the myst parser. See https://myst-parser.readthedocs.io/en/latest/using/syntax-optional.html
    - amsmath
    - colon_fence
    - deflist
    - dollarmath
    - html_admonition
    - html_image
    - linkify
    - replacements
    - smartquotes
    - substitution

latex:
  latex_engine: xelatex
  latex_documents:
    targetname: book.tex

sphinx:
  config:
    bibtex_reference_style: author_year  # or label, super, \supercite
    # unknown_mime_type - application/vnd.plotly.v1+json and application/vnd.bokehjs_load.v0+json
    # domains - sphinx_proof.domain::prf needs to have `resolve_any_xref` method
    # mime_priority - latex priority not set in myst_nb for text/html, application/javascript
    suppress_warnings: ["mystnb.unknown_mime_type", "myst.domains", "mystnb.mime_priority"]
    copybutton_prompt_text: "$"
    nb_execution_show_tb: True
    nb_execution_timeout: 120
    html_extra_path:
      - images/badge.svg
    intersphinx_mapping:
      ebp:
        - "https://executablebooks.org/en/latest/"
        - null
      myst-parser:
        - "https://myst-parser.readthedocs.io/en/latest/"
        - null
      myst-nb:
        - "https://myst-nb.readthedocs.io/en/latest/"
        - null
      sphinx:
        - "https://www.sphinx-doc.org/en/master"
        - null
      nbformat:
        - "https://nbformat.readthedocs.io/en/latest"
        - null
      sd:
        - https://sphinx-design.readthedocs.io/en/latest
        - null
    language: en
    latex_elements:
        preamble: |
          \newcommand\N{\mathbb{N}}
          \newcommand\floor[1]{\lfloor#1\rfloor}
          \newcommand{\bmat}{\left[\begin{array}}
          \newcommand{\emat}{\end{array}\right]}
    # TODO: #917 this path will be the default in sphinx v4
    # mathjax_path: https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
    # However, it is incompatible with the mathjax config below for macros
    mathjax3_config:
      tex:
        macros:
          "N": "\\mathbb{N}"
          "floor": ["\\lfloor#1\\rfloor", 1]
          "bmat": ["\\left[\\begin{array}"]
          "emat": ["\\end{array}\\right]"]
    nb_custom_formats:
      .Rmd:
        - jupytext.reads
        - fmt: Rmd
    rediraffe_branch: 'master'
    rediraffe_redirects:
      content-types/index.md: file-types/index.md
      content-types/markdown.md: file-types/markdown.md
      content-types/notebooks.ipynb: file-types/notebooks.ipynb
      content-types/myst-notebooks.md: file-types/myst-notebooks.md
      content-types/jupytext.md: file-types/jupytext.Rmd
      content-types/restructuredtext.md: file-types/restructuredtext.md
      customize/toc.md: structure/toc.md
    sd_fontawesome_latex: True


  extra_extensions:
    - sphinx_click.ext
    - sphinx_inline_tabs
    - sphinxext.rediraffe
    - sphinx_proof
    - sphinx_examples
