#######################################################################################
# Book settings
title: Jupyter Book
logo: images/logo.png
author: The Jupyter Book Community
email: choldgraf@berkeley.edu
description: >- # this means to ignore newlines until "baseurl:"
  This is an example book built with Jupyter Books.

html:
  favicon: images/favicon.ico
  google_analytics_id: UA-52617120-7

repository:
  url                       : https://github.com/ExecutableBookProject/cli
  path_to_book              : "docs"

binder:
  binderhub_url             : "https://mybinder.org"