# Copied from 'sphinx' extra of setup.cfg
sphinx>=3,<4.3
altair
bokeh
folium
ipywidgets
matplotlib
nbclient
numpy
pandas
plotly
sphinx-click
sphinx_inline_tabs
sphinxext-rediraffe~=0.2.3
sympy
sphinx-proof
