:root {
    --sd-color-primary: #f37726;
    --sd-color-primary-highlight: #da864e;
    --sd-color-secondary: #267bf3;
    --sd-color-secondary-highlight: #4e88da;
}

.bg-jb-one {
    background-color: #52d16f3b;
}

.bg-jb-two {
    background-color: #e7dd7b73;
}

.bg-jb-three {
    background-color: #e7b07b96;
}
