main a.headerlink {
    opacity: 0;
    margin-left: .2em;
    color: #005b81;
}

main a.headerlink:hover {
    background-color: transparent;
    color: #005b81;
}

main h1:hover a.headerlink,
main h2:hover a.headerlink,
main h3:hover a.headerlink,
main h4:hover a.headerlink,
main h5:hover a.headerlink {
    opacity: 1;
}